<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>About me</h1>
            <p>Nice to meet you, watashi wa Kami-san</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>